certifi==2017.11.5
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
Django==2.0.1
django-crispy-forms==1.7.0
django-extensions==1.9.9
djangorestframework==3.7.7
idna==2.6
itypes==1.1.0
Jinja2==2.10
MarkupSafe==1.0
git+https://github.com/acdh-oeaw/pygermanet@852cd70ffa372925133c90661cdf09e1162c806b#egg=pygermanet
pymongo==3.6.0
pytz==2017.3
requests==2.18.4
six==1.11.0
typing==3.6.2
uritemplate==3.0.0
urllib3==1.24.2
wincertstore==0.2
